#about-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 85%;
  justify-content: center;
  margin-top: 5vh;
  padding-bottom: 2.5rem;
  text-align: center;
  width: 100vw;
}

#about-text-section {
  align-items: center;
  border-radius: 20px;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  width: 50vw;
}

#about-list {
  text-align: left;
}