#projects-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 85%;
  justify-content: flex-start;
  margin-top: 5vh;
  padding-bottom: 2.5rem;
  text-align: center;
  width: 100vw;
}

#project-cards .card {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.card-text {
  font-weight: 400;
}

#projectcard-tag {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  padding: .3em;
  margin: .3em;
  width: fit-content;
}

#proj-tag-wrap {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#proj-github {
  transition: all .1s ease-in-out;
  width: 2em;
}

#proj-github:hover {
  transform: scale(1.2); 
}

@media only screen and (min-width: 600px) {
  #project-cards {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 3vh;
  }
}

@media only screen and (max-width: 599px) {
  #project-cards .card {
    margin: 2vh auto 2vh;
  }
  #project-cards {
    display: block;
  }
}