/* many thanks to:
https://travis.media/how-to-make-an-item-grow-on-hover-with-css/
https://css-tricks.com/a-complete-guide-to-custom-properties/
https://getcssscan.com/css-box-shadow-examples*/

:root {
  --clr-light-mint: #F1FFFA;
  --clr-dark-blue: #2F4858;
  --clr-medium-lavender: #888DBF;
  --clr-light-blue: #77ffff;

  --ff-main: 'Rubik', sans-serif;
}

body {
  color: var(--clr-light-mint);
  font-family: var(--ff-main);
  font-weight: 600;
}

#picture-camila {
  border: 3px solid var(--clr-medium-lavender);
}

#nav-bar {
  background-color: var(--clr-medium-lavender);
  width: 100%;
}

#app-container {
  background-color: var(--clr-dark-blue);
  min-height: 100vh;
  position: relative;
  width: 100%;
}

#home-container {
  background-color: var(--clr-dark-blue);
}

#about-text-section {
  border: solid var(--clr-light-blue) 1px;
}

.h3-dev-title {
  color: var(--clr-light-blue);
}

.nav-link {
  color: var(--clr-light-mint);
}

.nav-link:focus {
  color: var(--clr-light-mint);
}

.nav-link:hover {
  transform: scale(1.2);
  color: black;
}

.card-front {
  background-color: var(--clr-medium-lavender);
  color: var(--clr-light-mint);
}

.card-back {
  background-color: var(--clr-dark-blue);
  color: var(--clr-light-mint);
}

#project-cards .card {
  background-color: var(--clr-medium-lavender);
  color: var(--clr-light-mint);
}

#projectcard-tag {
  color: var(--clr-light-mint);
  border: 1px solid black;
}