/* many thanks to:
https://travis.media/how-to-make-an-item-grow-on-hover-with-css/
https://css-tricks.com/a-complete-guide-to-custom-properties/
https://getcssscan.com/css-box-shadow-examples*/

:root {
  --clr-light-mint: #F1FFFA;
  --clr-medium-grey-blue: rgb(148, 148, 163);
  --clr-medium-turquoise: #05A8AA;
  --clr-deep-violet: rgb(133, 85, 189);

  --ff-main: 'Rubik', sans-serif;
}

body {
  color: var(--clr-light-mint);
  font-family: var(--ff-main);
  font-weight: 600;
}


button {
  background-color: var(--clr-medium-turquoise);
}

#picture-camila {
  border: 3px solid var(--clr-medium-turquoise);
}

#nav-bar {
  background-color: var(--clr-medium-turquoise);
  width: 100%;
}

#back-btn {
  background-color: var(--clr-medium-turquoise);
  color: var(--clr-light-mint);
}

#app-container {
  background-color: var(--clr-medium-grey-blue);
  height: 100vh;
  width: 100%;
}

#home-container {
  background-color: var(--clr-medium-grey-blue);
}

.h3-dev-title {
  color: var(--clr-deep-violet);
}

.nav-link {
  color: var(--clr-light-mint);
}

.nav-link:focus {
  color: var(--clr-light-mint);
}

.nav-link:hover {
  color: var(--clr-deep-violet);
  transform: scale(1.2); 
}

.card {
  background-color: var(--clr-medium-turquoise);
  color: var(--clr-deep-violet);
}

.card-front {
  background-color: var(--clr-medium-turquoise);
  color: var(--clr-light-mint);
}

.card-back {
  background-color: var(--clr-medium-grey-blue);
  color: var(--clr-light-mint);
}
