/* many thanks to:
https://travis.media/how-to-make-an-item-grow-on-hover-with-css/
https://css-tricks.com/a-complete-guide-to-custom-properties/
https://getcssscan.com/css-box-shadow-examples*/

:root {
  --clr-light-mint: #F1FFFA;
  --clr-medium-grey: rgb(81, 81, 81);
  --clr-medium-turquoise: #049598;
  --clr-deep-violet: rgb(190, 202, 250);

  --ff-main: 'Rubik', sans-serif;
}

body {
  color: var(--clr-light-mint);
  font-family: var(--ff-main);
  font-weight: 600;
} 


button {
  background-color: var(--clr-medium-turquoise);
}

#picture-camila {
  border: 3px solid var(--clr-medium-turquoise);
}

#nav-bar {
  background-color: var(--clr-medium-turquoise);
  width: 100%;
}

#back-btn {
  background-color: var(--clr-medium-turquoise);
  color: var(--clr-light-mint);
}

#app-container {
  background-color: var(--clr-medium-grey);
  min-height: 100vh;
  position: relative;
  width: 100%;
}

#home-container {
  background-color: var(--clr-medium-grey);
}

#about-text-section {
  border: solid var(--clr-deep-violet) 1px;
}

.h3-dev-title {
  color: var(--clr-deep-violet);
}

.nav-link {
  color: var(--clr-light-mint);
}

.nav-link:focus {
  color: var(--clr-light-mint);
}

.nav-link:hover {
  color: var(--clr-deep-violet);
  transform: scale(1.2); 
}

.handmade-card {
  background-color: var(--clr-medium-turquoise);
  color: var(--clr-deep-violet);
}

.card-front {
  background-color: var(--clr-medium-turquoise);
  color: var(--clr-light-mint);
}

.card-back {
  background-color: var(--clr-medium-grey);
  color: var(--clr-light-mint);
}

#project-cards .card {
  background-color: var(--clr-medium-turquoise);
  color: var(--clr-light-mint);
}

#projectcard-tag {
  color: var(--clr-light-mint);
  border: 1px solid black;
}